@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


i:hover {
    opacity: 0.7;
}


.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--black:after {
    background-color: black;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}


h1 {
    font: 36px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c3cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;


}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;

}

input:focus, textarea:focus {
    border-color: #f06449;
}

li {
    list-style-type: none
}

p {
    line-height: 1.5;
    font-size: 16px;
}

section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}





.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}


.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
    animation: fade-up 1000ms;
    
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(400px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
 
.orange {

    color: #f06449 !important;
}


nav,
.scroll,
header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
}


.modal--open nav,
.modal--open .scroll,
.modal--open header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}


.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section_sub-tittle,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .footer__logo--img
{
    color: white;
}


.dark-theme section {
    background-color: #242424;
}

.dark-theme #personal-logo {
    filter: none;
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after
{
    background-color: white;
}

.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}

/* 


   Landing page

*/



#landing-page {
    min-height: 100vh;
    z-index: 100;
    
}



.me__imgp {
    width: 300px;
    border-radius: 50%;
    animation: animate-wave 10000ms  infinite ;
}


.tittle__landing {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    width: 75%;
}


.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 1200px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.header__content {
    width: 70%;
}

.me__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 40%;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
    animation: fade-up 1500ms;

}

.social__list {
    margin-top: 16px;
    display: flex;
    animation: fade-up 2000ms;
}

.social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}


.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    position: fixed;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.2);

}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 3px solid black;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}


.img__header {
    width: 30%;
    max-width: 1200px;
}

.me__img--header {
    width: 100%;
    max-width: 140px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 30vw;
    margin-left: 76px;
    animation: animate-profile 1000ms 200ms;
    animation: animate-wave 10000ms infinite alternate;

    transition: all 300 ease;
    
}


@keyframes animate-profile {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes animate-wave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }

}



/* 


    NAVIGATION


*/

#personal-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav__link--list {
    display: flex;
}


.nav__link {
    margin: 0 12px;
}


.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}


.fa-adjust {
    font-size: 20px;
}



/* 


   Modal

*/



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
    z-index: -1;
}


.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
    
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}


.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
    
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}


.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.8);
}

.language__name {
    position: absolute;
    font-weight: 900;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__title {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 10px;

}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
    font-weight: 900;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
    font-weight: 700;
}

.form__item {
    margin-bottom: 20px;
}


.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    max-width: 240px;
    width: 100%;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}


.form__submit:hover { 
    border-color: white;
    background-color: transparent;

}


.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}


.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
    z-index: -1;


}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 28px;

}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.btn {
    background-color: white;
    color: black;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease;
  }

  .btn:hover {
    transform: scale(1.1);
  }



.fa-spinner {
    animation: spinner 750ms infinite linear;
}


@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}




/* Projects */



.section__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.project {
    margin-bottom: 50px;
}

.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;


}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;

}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--sub-title {
    font-size: 40px;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color: white;

}

/* footer */


footer {
    background-color: #242424;
    position: relative;
    z-index: 100;

}



.footer__social--list{
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 8% 0;
}

.footer__logo--img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.footer_social--list-wrapper {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.footer__social--link,
.footer__copyright {
    color: white;
    padding: 10px;
}

.footer__logo--popper {
    color: white;
    position:absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}



.footer_anchor {
    position: relative;
    margin-bottom: 20px;
}

.footer_anchor:hover  .footer__logo--popper{
    transform: translateX(60px);
    opacity: 1;

}



/*


 SHAPES


 */

.shape {
    position: fixed;
}


 .shape--0 {
    top: 15vh;
    left: 5vw;
 }

 .shape--1 {
    top: 15vh;
    left: 50vw;
 }

 .shape--2 {
    top: 15vh;
    left: 80vw;
 }

 .shape--3 {
    top: 50vh;
    left: 5vw;
 }

 .shape--4 {
    top: 50vh;
    left: 50vw;
    display: none;
 }

 .shape--5 {
    top: 50vh;
    left: 80vw;
 }

 .shape--6 {
    top: 80vh;
    left: 5vw;
 }

 .shape--7 {
    top: 80vh;
    left: 50vw;
 }

 .shape--8 {
    top: 80vh;
    left: 80vw;
 }



@media (max-width: 1068px) {
    .me__imgp {
        display: none;
    }

    .header__content {
        width: 100%;
    }
}

 @media (max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    

    .modal__half {
        width: 100%;

    }

    .section__title {
        margin-top: 40vh;
    }

 }


 @media (max-width: 480px) {
    .title {
        font-size: 52px;
    }

    .header__para {
        font-size: 18px;
    }

    .nav__link:first-child {
        display: none;
    }

   .project__description--para {
    display: none;
   }
   .project__description {
    left: 0;
    padding-left: 10px;
    width: 100%;
    text-align: center;
   }

   .project__description--sub-title {
    display: none;
   }


   .modal__half {
    padding: 40px;
   }

   .footer__copyright {
    text-align: center;
   }

   .btn {
    width: 50%;
    position: relative;
    margin-right: 200px;
    margin-top: 10px;
   }
 }